<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.creaway.mapper.AppAlarmDao">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.creaway.model.AppAlarm">
        <id column="ALARM_NO" property="alarmNo" />
        <result column="APP_ID" property="appId" />
        <result column="ALARM_LEVEL" property="alarmLevel" />
        <result column="ALARM_DATE" property="alarmDate" />
        <result column="ALARM_STATUS" property="alarmStatus" />
        <result column="INFO" property="info" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        APP_ID, ALARM_LEVEL, ALARM_DATE, ALARM_STATUS, INFO, ALARM_NO
    </sql>

</mapper>
