<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.creaway.mapper.AppProvinceCheckInfoDao">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.creaway.model.AppProvinceCheckInfo">
        <result column="report_no" property="reportNo" />
        <result column="report_name" property="reportName" />
        <result column="app_name" property="appName" />
        <result column="org_no" property="orgNo" />
        <result column="data_date" property="dataDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        report_no, report_name, app_name, org_no, data_date
    </sql>

</mapper>
