<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.creaway.mapper.AppUsageDDao">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.creaway.model.AppUsageD">
        <result column="INST_NUM" property="instNum" />
        <result column="APP_ID" property="appId" />
        <result column="STAT_DAY" property="statDay" />
        <result column="ORG_NO" property="orgNo" />
        <result column="UNINST_NUM" property="uninstNum" />
        <result column="APP_MANU_ID" property="appManuId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        INST_NUM, APP_ID, STAT_DAY, ORG_NO, UNINST_NUM, APP_MANU_ID
    </sql>

</mapper>
