<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.creaway.mapper.CallLogDao">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.creaway.model.CallLog">
        <id column="ID" property="id" />
        <result column="INTER_TYPE" property="interType" />
        <result column="OPERATE_DATE" property="operateDate" />
        <result column="INTER_LOG" property="interLog" />
        <result column="CLIENT" property="client" />
        <result column="SERVER" property="server" />
        <result column="INTER_NAME" property="interName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, INTER_TYPE, OPERATE_DATE, INTER_LOG, CLIENT, SERVER, INTER_NAME
    </sql>

</mapper>
