<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.creaway.mapper.CodeSortDao">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.creaway.model.CodeSort">
        <id column="CODE_SORT_ID" property="codeSortId" />
        <result column="CODE_NAME" property="codeName" />
        <result column="MAINT_PERSON" property="maintPerson" />
        <result column="EFFECT_DATE" property="effectDate" />
        <result column="VALID_FLAG" property="validFlag" />
        <result column="CODE_TYPE" property="codeType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        CODE_SORT_ID, CODE_NAME, MAINT_PERSON, EFFECT_DATE, VALID_FLAG, CODE_TYPE
    </sql>

</mapper>
