<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.creaway.mapper.DepartmentDao">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.creaway.model.Department">
        <result column="DEPT_NO" property="deptNo" />
        <result column="DEPT_NAME" property="deptName" />
        <result column="PRE_DEPT_NO" property="preDeptNo" />
        <result column="VALID_FLAG" property="validFlag" />
        <result column="OPERATOR_DATE" property="operatorDate" />
        <result column="ORGAN_NO" property="organNo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        DEPT_NO, DEPT_NAME, PRE_DEPT_NO, VALID_FLAG, OPERATOR_DATE, ORGAN_NO
    </sql>

</mapper>
