<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.creaway.mapper.LoginLogDao">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.creaway.model.LoginLog">
        <id column="ID" property="id" />
        <result column="ORG_NO" property="orgNo" />
        <result column="OPERATE_DATE" property="operateDate" />
        <result column="CLIENT" property="client" />
        <result column="OPERATOR_ID" property="operatorId" />
        <result column="CONTENT" property="content" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, ORG_NO, OPERATE_DATE, CLIENT, OPERATOR_ID, CONTENT
    </sql>

</mapper>
