<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.creaway.mapper.OrgDao">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.creaway.model.Org">
        <result column="ORG_NO" property="orgNo" />
        <result column="ORG_NAME" property="orgName" />
        <result column="P_ORG_NO" property="pOrgNo" />
        <result column="ORG_TYPE" property="orgType" />
        <result column="VALID_FLAG" property="validFlag" />
        <result column="STAT_TYPE" property="statType" />
        <result column="SHORT_NO" property="shortNo" />
        <result column="SHOT_NAME" property="shotName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ORG_NO, ORG_NAME, P_ORG_NO, ORG_TYPE, VALID_FLAG, STAT_TYPE, SHORT_NO, SHOT_NAME
    </sql>

</mapper>
